@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #fafafa;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;

  height: 100%;
}

/* |Sidebar */

  .grid-container aside {
    display: grid;
    grid-template-rows: auto 1fr;

    padding: 15px;
  }

  .sidebar .brand {
    display: flex;
    align-items: center;
  }

  .sidebar .brand .logo {
    background-image: url(./images/dashboard.png);
    background-size: cover;
    background-position: center;

    width: 50px;
    height: 50px;
  }

  .sidebar .brand span {
    font-size: 1.5rem;
  }

  .sidebar .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .sidebar .sidebar-nav .menu > div,
  .sidebar .sidebar-nav .config-menu > div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .sidebar .sidebar-nav .nav-icon,
  .search-icon,
  .notification-icon {
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
  }

/* |Main */

  .grid-container main {
    display: grid;
    grid-template-rows: 1fr 4fr;
  }

  main header {
    display: grid;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
    padding: 15px 50px 15px 30px;
  }
  /* header-bar */
  main header .header-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 130px;

    padding-right: 20px;
  }

  main header .header-bar .search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
  }

  main header .header-bar .search-bar .search {
    background-color: rgb(230, 230, 230);
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 1rem;
  }

  main header .header-bar .user-profile {
    display: flex;
    align-items: center;
    gap: 18px;
  }  

  main header .header-bar .user-profile .profile-picture,
  main header .user-action .user-greetings .profile-picture {
    background-image: url(./images/profile-pic.png);
    background-size: cover;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 2rem;
  }

  /* user-action */
  main header .user-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main header .user-action .user-greetings {
    display: flex;
    gap: 15px;
  }

  main header .user-action .user-greetings .profile-picture {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
  }

  main header .user-action .action-buttons {
    display: flex;
    gap: 30px;
  }

  main header .user-action .action-buttons > button {
    background-color: #53b5d6;
    color: #fafafa;

    width: 80px;
    height: 35px;
    padding: 10px;
    border: 0;
    border-radius: 1.5rem;

    font: 700 .8rem sans-serif;
    line-height: 0;
  }

/* |Dashboard */

  main .dashboard {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    column-gap: 30px;
    row-gap: 15px;

    padding: 20px;
  }

  main .dashboard h3 {
    margin-bottom: 12px;
  }

  main .dashboard .projects {
    grid-row: 1 / 3;
  }

  main .dashboard .projects .cards-grid {
    display: grid;
    grid-auto-rows: 220px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
  }

  main .dashboard .projects .cards-grid .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fafafa;
    border-radius: .5rem;
    padding: 25px;
    border-left: 8px solid #ffbe5d;
  }

  main .dashboard .projects .cards-grid .card .info p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #3f3f3fbf;
  }

  main .dashboard .projects .cards-grid .card .project-action {
    display: flex;
    justify-content: end;
    gap: 16px;
  }

  main .dashboard .projects .cards-grid .card .project-action .fav-icon,
  main .dashboard .projects .cards-grid .card .project-action .live-icon,
  main .dashboard .projects .cards-grid .card .project-action .share-icon {
    background-size: cover;
    background-position: center;

    width: 25px;
    height: 25px;
  }
  main .dashboard .projects .cards-grid .card .project-action .fav-icon {
    background-image: url(./images/fav.png);
  }
  main .dashboard .projects .cards-grid .card .project-action .live-icon {
    background-image: url(./images/live.png);
  }
  main .dashboard .projects .cards-grid .card .project-action .share-icon {
    background-image: url(./images/share.png);
  }

  main .dashboard .announcements .announcement-grid {
    display: grid;
    grid-auto-rows: 80px;
    gap: 5px;

    padding: 20px;
    background-color: #fafafa;
    border-radius: .5rem;
  }

  main .dashboard .announcements .announcement-grid .announcement {
    border-bottom: 1px solid #3f3f3f33;
  }
  
  main .dashboard .announcements .announcement-grid .announcement:last-child {
    border: none;
  }

  main .dashboard .announcements .announcement-grid .announcement > h4 {
    font-size: 13px;
  }

  main .dashboard .announcements .announcement-grid .announcement > p {
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    color: #3f3f3fbf;
  }

  main .dashboard .trending .trending-grid {
    display: grid;
    grid-auto-rows: 50px;
    gap: 15px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: .5rem;
  }

  main .dashboard .trending .trending-grid .user-card {
    display: flex;
    gap: 15px;
  }

  main .dashboard .trending .trending-grid .user-card .user-picture {
    background-image: url(./images/profile-pic.png);
    background-size: cover;
    background-position: center;

    width: 45px;
    height: 45px;
    border-radius: 2rem;
  }

  main .dashboard .trending .trending-grid .user-card .user-info span {
    line-height: 12px;
  }

  main .dashboard .trending .trending-grid .user-card .user-info span:nth-child(2) {
    font-size: 12px;
  }

  

/* |Pseudo Elements */






/* 
display stuff
positioning stuff
box model stuff
typography
manipulation
misc
*/